body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f9fa;
  align-items: center;
  justify-content: center;
}
h2 {
  color: #333;
}
table {
  border-collapse: collapse;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}
th {
  background-color: #f0f0f0;
  text-align: left;
  width: 200px;
}
a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
}
a:hover {
  background-color: #afc0d2;
}
