<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/user-login.html.css'%}" />
    <title>login page</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <div id="login_form">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">username: </label>
        <input type="text" name="username" class="login_information" required = "true"/>

        <label for="password">password: </label>
        <input type="text" name="password" class="login_information" required = "true"/>
        {% if error %}
        <p style="color: red; text-align: center">{{ error }}</p>
        {% endif %}

        <input type="submit" value="Đăng nhập" />
        <p>Chưa có tài khoản? <a href="{% url 'register' %}">Đăng kí</a></p>
        <!-- <p>Quên mật khẩu? <a href="{% url 'forgot_password' %}">Quên mật khẩu</a></p> -->
      </form>
    </div>
  </body>
</html>
