<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'user/css/login.css' %}" />
  <title>Login page</title>
</head>
<body>

  <div class="container">
    <!-- PHẦN TRÁI: HÌNH ẢNH -->
    <div class="image-side">
      <img src="/media/assets/login_banner.png" alt="Login Banner">
    </div>

    <!-- PHẦN PHẢI: FORM ĐĂNG NHẬP -->
    <div id="login_form">
      <img src="/media/assets/logo_dau.png" alt="logo dau">
      <h1>LOGIN</h1>

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        {% if error %}
          <p style="color:red; text-align: center;">{{ error }}</p>
        {% endif %}

        <button type="submit">Đăng nhập</button>

        <p>Chưa có tài khoản? <a href="{% url 'register' %}">Đăng kí</a></p>
      </form>
    </div>
  </div>

</body>
</html>
