<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{%static 'user/css/profile.css'%}" />
    <title>Thông tin người dùng</title>
  </head>
  <body>
    <h2>Xin chào, {{ user.username }}!</h2>

    <table>
      <tr>
        <th>ID người dùng</th>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th>Tên đăng nhập</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Ngày sinh</th>
        <td>{{ user.date_of_birth }}</td>
      </tr>
      <tr>
        <th>Ngày tạo</th>
        <td>{{ user.create_at }}</td>
      </tr>
      <tr>
        <th>Vai trò</th>
        <td>{{ user.role }}</td>
      </tr>
      <tr>
        <th>Địa chỉ</th>
        <td>{{ user.address }}</td>
      </tr>
      <tr>
        <th>Giới tính</th>
        <td>{{ user.gender }}</td>
      </tr>
      <tr>
        <th>Tên shop</th>
        <td>{{ user.shop_name }}</td>
      </tr>
      <tr>
        <th>Địa chỉ shop</th>
        <td>{{ user.shop_address }}</td>
      </tr>
    </table>

    <a href="/user/logout">Đăng xuất</a>
    <a href="{% url 'export_profile' user.id %}" target="_blank">
      Xuất thông tin PDF
    </a>
    <a href="{% url 'index' %}">Trang Chủ</a>
  </body>
</html>
